@use '../abstracts/mixins' as *;

// Dir LTR

html[dir=ltr] {

    // Body App
    body{
        direction: ltr;
    }
    .fix-icon-Input{
        right: 20px;
    }
    .overlay-fixed{
        transform: translateX(-100%);  
        left: 0;            
    }

    // View Cart
    .view-cart{
        transform: translateX(100%);  
        right: 0;
        .overlay-fixed{
            transform: translateX(100%);  
            right: 0;        
        }
    }

    // Count In
    .count-in{
        strong{
            right: -4px;
        }
    }

    // Select Option
    .select-in{
        &::after{
            right: 10px;
        }
    }

    // Marker Offer
    .mark-over{
        left: 10px;
    }

    // Page filterion
    .in-form-sea{
        button{
            right: 0;
        }
    }

    // Media
    @media (max-width: 990px) {
        // Nav
        nav{
            transform: translateX(-100%);  
            left: 0;
        }
    }

}

// Dir RTL

html[dir=rtl] {

    // Body App
    body{
        direction: rtl;
    }
    .fix-icon-Input{
        left: 20px;
    }
    .overlay-fixed{
        transform: translateX(100%);  
        right: 0;            
    }

    // View Cart
    .view-cart{
        transform: translateX(-100%);  
        left: 0;
        .overlay-fixed{
            transform: translateX(-100%);  
            left: 0;          
        }
    }

    // Count In
    .count-in{
        strong{
            left: -4px;
        }
    }

    // Select Option
    .select-in{
        &::after{
            left: 10px;
        }
    }

    // Slider Home
    .sliderHome{
        .overlay-fix {
            direction: rtl;
        }
    }

    // Marker Offer
    .mark-over{
        right: 10px;
    }

    // Page filterion
    .in-form-sea{
        button{
            left: 0;
        }
    }

    // Media
    @media (max-width: 990px) {
        // Nav
        nav{
            transform: translateX(100%);  
            right: 0; 
        }
    }

}