// Colors Page

$mainColor                          : #F34F3F;
$secondColor                        : #2D2B2B;

$bgDarkOverlayColor                 : rgba(0,0,0,0.5);
$bgLightOverlayColor                : rgba(255, 255, 255, 0.5);

$colorBorderInput                   : #B6B6B6;
$colorInput                         : #757575;
$placholderInputColor               : #ccc;

$whiteColor                         : #FFF;
$blackColor                         : #000;